@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes productToBasketAnimation {
    /* 25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    } */
    0% {transform:rotate(0deg);}
    10% {transform:rotate(-20deg);}
    80% {transform:rotate(740deg);}
    90% {transform:rotate(710deg);}
    100% {transform:rotate(720deg);}
}

@keyframes catalogueCategoriesAnimation {
    0% {
        transform: translate(0%, 0%);
        opacity: 100%;
    }
    100% {
        transform: translate(-100%, 0%);
        opacity: 0%;
    }
}

/* .input-tooltip {
    @apply absolute bottom-1/2 left-full p-1 whitespace-nowrap leading-tight transition-all transform translate-y-3 translate-x-100 group-hover:translate-x-0 text-red-500 text-sm bg-white rounded-lg shadow-md
} */

/* input[required][value=""] {
    border-color: red;
} */

/* body {
    overflow: scroll;
} */

.arrow-down {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.catalogue-categories[hide="1"] {
    transition: all 1s ease-in-out;
    transform: translate(-100%, 0%);
    opacity: 0%;
    overflow: hidden;
}

.catalogue-products {
    transition: all 1s ease-in-out;
    overflow: visible;
}
/* 
.catalogue-catalogue-products[hide="1"] {
    transition: all 1s ease-in-out;
    transform: translate(100%, 0%);
    opacity: 0%;
    overflow: hidden;
} */

.basket-animation[animate='1'] {
    animation: productToBasketAnimation 1.5s 1 ease-in-out;
}

@keyframes slideInFromAboveAnimation {
    0% {
        transform: translateY(-50%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes hedgehogAnimation {
    0% {
        visibility: visible;
        left: -20%;
    }
    50% {
        left: 100%;
        -webkit-transform: none;
        transform: none;
    }
    51% {
        left: 100%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    100% {
        left: -20%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
   }
   ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #c2c2c2;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
   }

header {
    position: fixed;
    left: 0;
    right: 0;

}

.background {
    opacity: 8%;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
    object-fit: cover;
}

.btn-standard {
    @apply m-2 py-2 px-6 rounded shadow-md bg-theme-2-400 text-theme-2-50 hover:bg-theme-2-600 focus:outline-none focus:bg-theme-2-700
}

.product {
    transition: all .2s ease-in-out;
}

.product:active {
    transform: scale(1.1);
    transition: all .02s ease-in-out;
}

.no-click {
    pointer-events: none;
}

.hedgehog {
    bottom: 0%;
    visibility: hidden;
    overflow: hidden;
    animation: hedgehogAnimation 30s infinite linear;
}

@keyframes sweepOffLeft{
    0% {
        opacity: 100%;
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0%;
        transform: translate(-50%, 0%);
    }
}

@keyframes sweepOffRight{
    0% {
        opacity: 100%;
        transform: translate(0%, 0%);
    }
    100% {
        opacity: 0%;
        transform: translate(50%, 0%);
    }
}

@keyframes sweepOnRight{
    0% {
        opacity: 0%;
        transform: translate(50%, 0%);
    }
    100% {
        opacity: 100%;
        transform: translate(0%, 0%);
    }
}

@keyframes sweepOnLeft{
    0% {
        opacity: 0%;
        transform: translate(-50%, 0%);
    }
    100% {
        opacity: 100%;
        transform: translate(0%, 0%);
    }
}

/* .page-transition {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left: 0;

    z-index: 0;

    width: 100%;
    height: 100%;
    background:rgba(255,0,0, 0.5);

} */

.page-transition[page="total"] {
    animation: sweepOnLeft 0.5s 1 ease-in-out;
}

.page-transition[page="payment"] {
    animation: sweepOnRight 0.5s 1 ease-in-out;
}

.page-transition[page="total-leave"] {
    animation: sweepOffLeft 0.5s 1 ease-in-out;
}

.page-transition[page="payment-leave"] {
    animation: sweepOffRight 0.5s 1 ease-in-out;
}